/*********************
 * Mission Center *
 *********************/

columnview.rich-list.view {
  background-color: rgba(0, 0, 0, 0);
  background-image: theme(
    raw(linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.03)
    )), 
    raw(linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.43)
    ))
  );
  box-shadow: theme(
    raw(
      inset 2px 2px 4px -2.8px rgba(255, 255, 255, 0.6),
      inset -2px -2px 4px -2.8px rgba(255, 255, 255, 0.6)
    ),
    raw(
      inset 2px 2px 4px -2.8px rgb(255, 255, 255),
      inset -2px -2px 4px -2.8px rgb(255, 255, 255)
    )
  );
}